/**/__pycache__/
/.idea/
/build/
/dist/
/*.egg-info/
.coverage
.coverage.*

# Confidential config files. UNDER NO CIRCUSTANCE SHOULD YOU PUSH THESE FILES TO THE REMOTE GIT REPO.
mlflow_config.yaml

# Mac OS-specific storage files
.DS_Store
