[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
uvicorn = "*"
pyyaml = "*"
fastapi = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
bandit = {extras = ["toml"], version = "*"}
pytest = "*"
pytest-cov = "*"
flake8-pyproject = "*"
pre-commit = "*"
ipykernel = "*"
jupyter-black = "*"
mlflow = "*"
pandas = "*"
sklearn = "*"
torch = "*"
pytorch_lightning = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
